.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 90%;
        height: 90%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            border-right: 1px solid #c1cffc;
            background-color: #c1cffc;
        }
        .chat{flex: 2;}

    }
}