.home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .container{
        border: 1px solid white;
        border-radius: 10px;
        width: 90%;
        height: 90%;
        display: flex;
        overflow: hidden;

        .sidebar{
            flex: 1;
            border-right: 1px solid #c1cffc;
            background-color: #c1cffc;
            .navbar{
                display: flex;
                align-items: center;
                background-color: #1f398f;
                height: 50px;
                padding: 10px;
                justify-content: space-between;
                color: white;

                .logo{
                    font-weight: bold;
                }

                .user{
                    display: flex;
                    gap: 10px;
                    img{
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        object-fit: cover;
                    }
                    button{
                        background-color: #2252ee;
                        color: white;
                        font-size: 14px;
                        border: none;
                        cursor: pointer;
                        padding: .4rem;
                        border-radius: 10px;

                    }
                }
                .search{
                    border-bottom: 1px solid gray;

                    .searchForm{
                        input{}
                    }
                }
                .userChat{
                    img{
                        width: 50;
                        height: 50px;
                    }
                }
            }
        }
        .chat{flex: 2;}

    }
}